<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="zpipe.ZPM">
    <Module>
      <Name>zpipe</Name>
      <Version>1.0.2</Version>
      <Description>CPIPE Demo</Description>
      <Keywords>Terminal, COS</Keywords>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
       <Resource Name="Zpipe.MAC"/>
    </Module>
  </Document>
</Export>
